[submodule "llc"]
	path = llc
	url = https://github.com/asm128/llc
[submodule "llt"]
	path = llt
	url = https://github.com/asm128/llt
[submodule "zlib"]
	path = zlib
	url = https://github.com/asm128/zlib
